.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* For an easier way to play with the rem */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

@media (max-width: 84em) {
  .app-container {
    padding: 1rem;
  }
}
