@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --color-th: #6671c4;
  --color-tr: rgba(227, 221, 252, 0.404);
  --color-tr-nth: #eaf7ff;

  --color-text: #808080;

  --loader-circle: #ebebeb;

  --shadow: #a3a3a375;
}
